<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "at.fh-joanneum.dmt.spherocontrol"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example to test PGB</name>

    <description>
        An example for phonegap build. 
    </description>

    <author email="nikolaus@famkofler.com">
        Nikolaus Kofler
    </author>

</widget>